<div class="col-xl-12 hammers">
    <div class="card">
        <div class="d-flex align-items-center m-4">
            <div class="table-responsive table-card">
                <table class="table ">
                    <thead class="table-light">
                    <tr>
                        <th scope="col" style="vertical-align:middle;text-align:center;white-space: nowrap">#</th>
                        <th scope="col" style="vertical-align:middle;text-align:center;white-space: nowrap">商品</th>
                        <th scope="col" style="vertical-align:middle;text-align:center;white-space: nowrap">價格</th>
                        <th scope="col" style="vertical-align:middle;text-align:center;white-space: nowrap">數量</th>
                        <th scope="col" style="vertical-align:middle;text-align:center;width: 60%">帳號</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="info,idx : ${hammerList}">
                        <td class="fw-semibold" style="margin-left:15px;margin-right:10px;vertical-align:middle;text-align:center;white-space: nowrap" th:text="${idx.count}"></td>
                        <td style="vertical-align:middle;text-align:center;white-space: nowrap" th:text="${info.name}"></td>
                        <td style="vertical-align:middle;text-align:center;white-space: nowrap" th:text="'$'+${info.price}"></td>
                        <td style="vertical-align:middle;text-align:center;white-space: nowrap" th:text="${info.num}"></td>
                        <td>
                            <span class="badge bg-primary"  style="margin-right:3px;" th:each="account,i:${info.accountList}" th:text="${account}"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

