<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<th:block layout:fragment="pagetitle">
    <!--page title-->
    <div th:replace="partials/title-meta :: title-meta('Hammer')"></div>
</th:block>

<head>

</head>

<body>
<div layout:fragment="content">
    <div th:replace="partials/page-title :: page-title('敲垂統計','-')"></div>
    <div class="row">
        <div class="col-xl-9 col-lg-8">
            <div class="row" id="hammersInfo">
            </div>
        </div>
        <div class="col-xl-3 col-lg-4">
            <div class="card" style="height:550px">
                <div class="card-body">
                    <div><p class="text-muted mb-3 mt-3">item : <span id="cardNum" class="fw-medium">0</span></p></div>
                    <div class="d-grid gap-2">
                        <button class="btn btn-outline-primary btn-load" onclick="addHammerList()">
                                <span class="d-flex align-items-center">
                                    <i class="ri-add-circle-fill"></i>
                                    <span class="flex-grow-1 ms-2">新增項目</span>
                                </span>
                        </button>
                        <button class="btn btn-outline-primary btn-load" onclick="quickaddHammerList()">
                                <span class="d-flex align-items-center">
                                    <i class="ri-flashlight-fill"></i>
                                    <span class="flex-grow-1 ms-2">批次新增</span>
                                </span>
                        </button>
                        <button class="btn btn-outline-primary btn-load">
                                <span class="d-flex align-items-center">
                                    <i class="ri-checkbox-circle-fill"></i>
                                    <span class="flex-grow-1 ms-2">產出報告</span>
                                </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block layout:fragment="modal">
    <!-- 批次新增modal -->
    <div class="modal fade" id="batchAddModal" tabindex="-1" aria-labelledby="exampleModalgridLabel" aria-modal="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalgridLabel">批次新增</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="javascript:void(0);">
                        <div class="row g-3">
                            <div class="col-xxl-12">
                                <div>
                                    <label for="acccountList" class="form-label">帳號清單</label>
                                    <textarea type="text" class="form-control" rows="20" id="acccountList" placeholder="請輸入..."></textarea>
                                </div>
                            </div><!--end col-->
                            <div class="col-lg-12">
                                <div class="hstack gap-2 justify-content-end">
                                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary" onclick="batchAddModalSubmit()">Submit</button>
                                </div>
                            </div><!--end col-->
                        </div><!--end row-->
                    </form>
                </div>
            </div>
        </div>
    </div>

</th:block>
<th:block layout:fragment="pagejs">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/assets/pages/hammer/hammer.js"></script>

</th:block>
</body>

</html>