<!-- Bordered Tables -->
<table class="table table-bordered table-nowrap" id="report">
    <thead>
    <tr>
        <th scope="col" style="vertical-align : middle;text-align:center;">#</th>
        <th scope="col" style="vertical-align : middle;text-align:center;">帳號</th>
        <th scope="col" style="vertical-align : middle;text-align:center;">總額</th>
        <th scope="col" style="vertical-align : middle;text-align:center;">＃</th>
        <th scope="col" style="vertical-align : middle;text-align:center;">商品名稱</th>
        <th scope="col" style="vertical-align : middle;text-align:center;">金額</th>
        <th scope="col" style="vertical-align : middle;text-align:center;">數量</th>
    </tr>
    </thead>
    <tbody>
    <div th:each="entry,idx1:${reportMap}">
        <tr class="noBreak" th:each="info,idx2 : ${entry.value}">
            <th scope="row"  class="noBreak" th:text="${idx1.count}" th:rowspan="${entry.value.size()}" th:if="${idx2.count} eq 1" style="vertical-align : middle;text-align:center;"></th>
            <td th:text="${entry.key}" th:rowspan="${entry.value.size()}" th:if="${idx2.count} eq 1" style="vertical-align : middle"></td>
            <td th:rowspan="${entry.value.size()}" th:if="${idx2.count} eq 1" th:text="${#aggregates.sum(entry.value.![price*num])}" style="vertical-align : middle;text-align:center;"></td>
            <td th:text="${idx1.count}+'-'+${idx2.count}" style="vertical-align : middle;text-align:center;"></td>
            <td th:text="${info.name}" style="vertical-align : middle"></td>
            <td th:text="${info.price}" style="vertical-align : middle;text-align:center;"></td>
            <td th:text="${info.num}" style="vertical-align : middle;text-align:center;"></td>
        </tr>
    </div>
    </tbody>
</table>