<!-- Bordered Tables -->
<table class="table table-bordered table-nowrap" id="report">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">帳號</th>
        <th scope="col">總額</th>
        <th scope="col">＃</th>
        <th scope="col">商品名稱</th>
        <th scope="col">金額</th>
        <th scope="col">數量</th>
    </tr>
    </thead>
    <tbody>
    <div th:each="entry,idx1:${reportMap}">
        <tr th:each="info,idx2 : ${entry.value}">
            <th scope="row" th:text="${idx1.count}" th:rowspan="${entry.value.size()}" th:if="${idx2.count} eq 1">></th>
            <td th:text="${entry.key}" th:rowspan="${entry.value.size()}" th:if="${idx2.count} eq 1"></td>
            <td th:rowspan="${entry.value.size()}" th:if="${idx2.count} eq 1" th:text="${#aggregates.sum(entry.value.![price])}"></td>
            <td th:text="${idx1.count}+'-'+${idx2.count}"></td>
            <td th:text="${info.name}"></td>
            <td th:text="${info.price}"></td>
            <td th:text="${info.num}"></td>
        </tr>
    </div>
    </tbody>
</table>