<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout}">

<head>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
<div layout:fragment="content">
	<!-- start page title -->
	<!--內文框架開始-->
	<div class="row">
		<div class="col-xl-3 col-lg-4">
			<!--內文開始-->
			首頁
			<!--內文結束-->
		</div>
	</div>
	<!--內文框架結束-->
</div>

<th:block layout:fragment="pagejs">
</th:block>
</body>

</html>